*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 18%;
    background-image: url(../assets/images/Background/background.jpg);
}
.letra-mio {
    text-decoration: none !important;
    color: #F02624 !important;
    font-family: Parisienne;
    font-size: 3rem;
    margin-right: 4rem;
}

main {
    height: 75%;
    background-image: linear-gradient(rgba(0,255,127,1) 40%, rgba(10,175,163,1) 100%);
    color: #0A1C26;
}

.letra-cuerpo-mio {
    font-family: Crimson Text;
    color: #0A1C26;
}

/* Index */

main div div section div a {
    text-decoration: none;
    color: #0A1C26;
}

.tamaño_mio {
    height: 330px;
    width: 240px;
}

.img-logo {
    width: 100px !important;
    height: 100px !important;
}

.margen-mio {
    margin-bottom: 2.5rem;
}

/* Libros */

main section div nav ul li a {
    text-decoration: none !important;
    color: #0A1C26 !important;
}

/* Yu yu hakusho */

.tamaño-yuyu {
    width: 200px;
    height: 290px;
    margin-bottom: 5px;
}

main div section div a {
    text-decoration: none;
    color: #0A1C26;
}

/* Logo Flotante */

.main__flotante__img {
    width: 25px;
    height: 25px;
    position: fixed;
    bottom: 3rem;
    right: 1rem;
}

footer {
    height: 7%;
    background-color: #0aafa3;
    color: #F02624;
    font-family: Orbitron;
    font-size: 1.5rem;
}

footer div a {
    text-decoration: none;
    color: #F02624;
    font-size: 1rem;
}