footer {
    height: 7%;
    background-image: url(../assets/images/Background/istockphoto-1275880554-612x612.jpg);
    color: #F02624;
    font-family: Orbitron;
    font-size: 1.5rem;
    div {
        p {
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }
    }
}