header {
    height: 18%;
    background-image: url(../assets/images/Background/background.webp);
    nav {
        div {
            .letra-mio {
                text-decoration: none;
                color: #F02624 !important;
                font-family: Parisienne;
                font-size: 3rem;
                margin-right: 4rem;
            }
            div {
                ul {
                    li {
                        .letra-dos {
                            font-family: Orbitron;
                        }
                    }
                }
            }
        }
    }
}
