header {
    height: 18%;
    background-image: url(../assets/images/Background/background.webp);
    nav {
        div {
            .letra-mio {
                text-decoration: none;
                color: $colores-titulos !important;
                font-family: $fuente-titulos;
                font-size: $tamaño-titulos;
                margin-right: 4rem;
            }
            div {
                ul {
                    li {
                        font-family: Orbitron;
                        }
                    div {
                        li {
                            ul {
                                    text-decoration: none;
                                    font-family: Orbitron;
                            }
                        }
                    }
                }
            }
        }
    }
}

