main {
    div {
        section {
            .letra-mio {
                text-decoration: none;
                font-size: $tamaño-titulos;
                color: $colores-titulos;
                font-family: $fuente-titulos;
            }
            .video {
                width: 560px;
                height: 315px;
            }
        }
        section {
            .letra-mio {
                text-decoration: none;
                font-size: $tamaño-titulos;
                color: $colores-titulos;
                font-family: $fuente-titulos;
            }
            div {
                .margen-yuyu {
                    margin-bottom: 5px;
                }
            }
        }
        section {
            .letra-mio {
                text-decoration: none;
                font-size: $tamaño-titulos;
                color: $colores-titulos;
                font-family: $fuente-titulos;
            }
            div {
                .margen-yuyu {
                    margin-bottom: 5px;
                }
            }
        }
        section {
            .letra-mio {
                text-decoration: none;
                font-size: $tamaño-titulos;
                color: $colores-titulos;
                font-family: $fuente-titulos;
            }
            div {
                a {
                    text-decoration: none;
                    color: #20df20;
                }
            }
            
        }
    }
}