main {
    div {
        section {
            div {
                h2 {
                    font-size: $tamaño-titulos;
                    color: $colores-titulos;
                    font-family: $fuente-titulos;
                }
                .b_inferior {
                    border-bottom: 5px groove #20df20;
                }
            }
            article {
                div {
                    .img-comic {
                        width: $ancho-imagenes;
                        height: $alto-imagenes;
                    }
                }
            }
        }
    }
}