main {
    div {
        div {
            section {
                margin-bottom: 1rem;
                .letra-mio {
                    text-decoration: none;
                    color: #F02624;
                    font-family: Parisienne;
                    font-size: 3rem;
                }
                div {
                    div {
                        div {
                            section {
                                padding-left: 5rem;
                                padding-right: 5rem;
                                article {
                                    div {
                                        div {
                                            height: 34rem;
                                            overflow: auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            section {
                article {
                    div {
                        a {
                            text-decoration: none;
                            color: #20df20;
                        }
                    }
                }
            }
            section {
                margin-bottom: 2rem;
                .letra-mio {
                    text-decoration: none;
                    color: #F02624;
                    font-family: Parisienne;
                    font-size: 3rem;
                    margin-right: 4rem;
                }
                div {
                    a {
                        text-decoration: none;
                        color: #20df20;
                    }
                }
            }
        }
    }
}