main {
    div {
        section {
            .letra-cuerpo-mio {
                font-family: Crimson Text;
                color: #0A1C26;
            }
            .letra-mio {
                text-decoration: none !important;
                color: #F02624 !important;
                font-family: Parisienne;
                font-size: 3rem;
                margin-right: 4rem;
            }
            .video {
                width: 560px;
                height: 315px;
            }
        }
        section {
            .letra-mio {
                text-decoration: none !important;
                color: #F02624 !important;
                font-family: Parisienne;
                font-size: 3rem;
                margin-right: 4rem;
            }
            div {
                .margen-yuyu {
                    margin-bottom: 5px;
                }
            }
        }
        section {
            .letra-mio {
                text-decoration: none !important;
                color: #F02624 !important;
                font-family: Parisienne;
                font-size: 3rem;
                margin-right: 4rem;
            }
            div {
                .margen-yuyu {
                    margin-bottom: 5px;
                }
            }
        }
        section {
            .letra-mio {
                text-decoration: none !important;
                color: #F02624 !important;
                font-family: Parisienne;
                font-size: 3rem;
                margin-right: 4rem;
            }
            .letra-cuerpo-mio {
                font-family: Crimson Text;
                color: #0A1C26;
            }
            div {
                a {
                    text-decoration: none;
                    color: #0A1C26;
                }
                .tamaño_mio {
                    height: 330px;
                    width: 240px;
                }
            }
            
        }
    }
}