main {
    div {
        div {
            section {
                article {
                    a{
                        h6 {
                            font-size: 2rem;
                        }
                        text-decoration: none;
                        color: #20df20;
                    }
                }
            }
            section {
                .letra-mio {
                    text-decoration: none;
                    color: #F02624;
                    font-family: Parisienne;
                    font-size: 3rem;
                    margin-right: 4rem;
                }
            }
        }
    }
}