main {
    div {
        div {
            section {
                .letra-mio {
                    text-decoration: none !important;
                    color: #F02624 !important;
                    font-family: Parisienne;
                    font-size: 3rem;
                    margin-right: 4rem;
                }
                div {
                    div {
                        div {
                            section {
                                .letra-cuerpo-mio {
                                    font-family: Crimson Text;
                                    color: #0A1C26;
                                }
                                article {
                                    div {
                                        .tamaño_mio {
                                            height: 330px;
                                            width: 240px;
                                        }   
                                    }
                                }
                                margin-left: 6rem !important;
                                margin-right: 6rem !important;
                            }
                        }
                    }
                }
            }
            section {
                div {
                    a {
                        text-decoration: none;
                        color: #0A1C26;
                        .img-logo {
                            width: 100px !important;
                            height: 100px !important;
                        }
                    }
                }
                .margen-mio {
                    margin-bottom: 2.5rem;
                }
            }
            section {
                .letra-mio {
                    text-decoration: none !important;
                    color: #F02624 !important;
                    font-family: Parisienne;
                    font-size: 3rem;
                    margin-right: 4rem;
                }
                .letra-cuerpo-mio {
                    font-family: Crimson Text;
                    color: #0A1C26;
                }
                div {
                    .tamaño_mio {
                        height: 330px;
                        width: 240px;
                    }
                }
            }
        }
    }
}