main {
    div {
        div {
            section {
                .letra-mio {
                    text-decoration: none;
                    font-size: $tamaño-titulos;
                    color: $colores-titulos;
                    font-family: $fuente-titulos;
                }
            }
            form {
                section {
                    .letra-form {
                        font-family: Orbitron;
                        font-size: 2rem;
                    }
                    div {
                        font-family: Crimson Text;
                        .mg-propio {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }
}