main {
    div {
        div {
            nav {
                div {
                    .letra-boton {
                        text-decoration: none;
                        color: #F02624;
                        font-family: Orbitron;
                    }
                }
            }
            div {
                div {
                    section {
                        article {
                            div {
                                .letra-boton {
                                    text-decoration: none;
                                    color: #F02624;
                                    font-family: Orbitron;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}