main {
    div {
        div {
            section {
                .letra-mio {
                    text-decoration: none !important;
                    color: #F02624 !important;
                    font-family: Parisienne;
                    font-size: 3rem;
                    margin-right: 4rem;
                }
            }
            form {
                section {
                    .letra-form {
                        font-family: Orbitron;
                        font-size: 2rem;
                        color: #0A1C26;
                    }
                    div {
                        font-family: Crimson Text;
                        color: #0A1C26;
                        .mg-propio {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    }
}