main {
    div {
        div {
            nav {
                div {
                    .letra-boton {
                        text-decoration: none !important;
                        color: #F02624 !important;
                        font-family: Orbitron;
                    }
                }
            }
            div {
                div {
                    section {
                        article {
                            .tamaño_mio {
                                height: 330px;
                                width: 240px;
                            }
                            div {
                                .letra-cuerpo-mio {
                                    font-family: Crimson Text;
                                    color: #0A1C26;
                                }
                                .letra-boton {
                                    text-decoration: none !important;
                                    color: #F02624 !important;
                                    font-family: Orbitron;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}