main {
    div {
        div {
            section {
                article {
                    a{
                        h6 {
                            font-size: 2rem;
                        }
                        text-decoration: none;
                        color: #20df20;
                    }
                }
            }
            section {
                .letra-mio {
                    text-decoration: none;
                    color: $colores-titulos;
                    font-family: $fuente-titulos;
                    font-size: $tamaño-titulos;
                }
            }
        }
    }
}